<a href="<%= user_posts_path(@user) %>">
  <button id="back-btn">⬅</button>
</a>
<ul>
<li><div class="user-box">
  <%= render partial: 'pages/user_photo', locals: { user: @user } %>
  <%= render partial: 'pages/user_details', locals: { user: @user } %>
</div></li>
<li><div class="bio">

  <h3>Bio</h3>
  
  <p>
    <%= @user.bio%>
  </p>
  <a href='<%=new_user_post_path(@user.id, @post)%>'>
        <button type="button" class="btn btn-outline-primary">Create New Post</button>
      </a>
  
</div></li>
<% @three_recent_posts.each do |post| %>
    <div class="post bio">
      <a href='<%= user_post_path(@user.id, post) %>'>
      <h3>Post <%= raw "#" + post.title %></h3>
      </a>
      <p><%= post.content%></p>
     <div class="post-intereactions d-flex">
       <a href='<%= new_user_post_comment_path(user_id: post.author_id, post_id: post.id)%>'>
            <span class="btn btn-light">Comments:</span>
          </a>
          <button class= "btn btn-light" disabled>
            <%= post.comments_counter%></button>
        <%= form_for(post.likes.new, url: user_post_likes_path(user_id: post.author_id, post_id: post.id)) do |f| %>
            <%= f.hidden_field :author_id, value: @current_user %>
            <%= f.submit "Like:", class: "btn btn-light" %>
          <% end %>
          <button class= "btn btn-light" disabled><%= post.likes_counter%></button> 
     </div>
   </div>
<% end %>
<%= link_to user_posts_path(@user) do %>
  <button id="pagination">See all posts</button>
<% end %>
</ul>