<a href="<%= user_posts_path(@post) %>"> 
  <button id="back-btn">⬅</button>
</a>
<h3>Post <%= "#" + @post.title %> by <%= @post.author.name %></h3>
 <div class="post-intereactions d-flex">
       <a href='<%= new_user_post_comment_path(author_id: @post.author_id, post_id: @post.id)%>'>
            <span class="btn btn-light">Comments:</span>
          </a>
          <button class= "btn btn-light" disabled>
            <%= @post.comments_counter%></button>
        <%= form_for(@post.likes.new, url: user_post_likes_path(author_id: @post.author_id, post_id: @post.id)) do |f| %>
  <%= f.hidden_field :author_id, value: @current_user.id %>
  <%= f.submit "Like:", class: "btn btn-light" %>
          <% end %>
          <button class= "btn btn-light" disabled><%= @post.likes_counter%></button> 
     </div>
<p><%= @post.content %></p>
<h3>Comments:</h3>
<% @post.comments.each do |comment| %>
  <div class="post-comments">
    <span><%= comment.author.name %>:</span>
    
    <span><%= comment.text %></span>
  </div>
  
<% end %>